*{
    box-sizing:border-box;
}

ul{
    color:darkgray;
    background-color:rgb(85, 84, 84);
    font-size:15px;
    text-align: center;
    width:100%;
    
    
}



ul>li{
    width:200px;
    list-style-type:none;
    display:inline-block;
    margin:auto;
    padding-bottom:15px;
    width:14.2%; 
  

}
ul>li>a{
    text-decoration: none;
    font-weight:600;
    width:200px;height:70px;
    text-align:center;
    padding-top:40px;
    float:left;
    
}
ul>li>button{
    
    display:inline-block;
    background-color:black;
    color:darkgrey;    
    text-align: center;

}


main{
    text-align:center;
    margin-top:30px;
    width:100%;
    
}
img:nth-child(2){
    
    display:inline-block;
    padding-bottom:30px;
}


img:nth-child(3),img:nth-child(4),img:nth-child(5)
{
   
width:300px;
height:375px;
padding:15px;
}
img:nth-child(3){
    margin-right:0px;
    padding-left:0px;
}

img:nth-child(5){
    margin-left:0px;
    padding-right:0px;
}


div {width:50%;margin:auto;float:left;}
img:nth-child(6){
  width:50%;
    float:left;
}
div>h1{float:left;}
div>p{float:left;position:relative;}
div>button{
    background-color:black;
    width:350ms;
    display: block;
}

footer>img{
    width:100%;
    height:100px;;
}